<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicco.challenge01">

    <application>
        <activity
            android:name=".DetailComposeActivity"
            android:label="@string/title_activity_detail_compose"
            android:theme="@style/Theme.ComposePathwayCuritiba.NoActionBar"></activity>
    </application>

</manifest>